@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
    font-family: "Montserat", sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


/* Header start  */

.header {
    padding: 16px 0;
    background-color: #02a28f;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav-item {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.header-nav-item:hover {
    color: black;
}

.header-nav-item:active {
    color: rgb(62, 59, 59);
}

.header-logo {
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

/* header end  */


/* Main  */

.main-products {
    padding-top: 65px;
}

.products {}

.products-wrap {
    display: flex;
    gap: 24px;
}

.products-left {
    width: 65%;
}

.products-menu {
    background: #02a28f;
    border-radius: 10px;
}

.products-menu-title {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.products-menu-text {
    padding: 15px;
}

.products-right {
    width: 35%;
}

.products-right-top {}

.products-right-top-title {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    background: #02a28f;
    border-radius: 10px;
}

.products-right-title-h2 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.products-right-button {
    background: #fff;
    border-radius: 10px;
    display: flex;
    padding: 13px;
    margin-top: 20px;
    gap: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 96px;
}

.products-right-button-img {
    background: #d9d9d9;
    border-radius: 10px;
    width: 132px;
    height: 70px;
}

.products-right-button-h1 {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.products-right-button-p {
    font-weight: 500;
    font-size: 12px;
    color: #616161;
    margin-top: 8px;
}

.products-kotegori {
    margin-top: 36px;
}

.kotegori-title {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    background: #02a28f;
    border-radius: 10px;
}

.kotegori-title-h3 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.kotegori-lebel {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.kotegori-lebel2 {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.kotegori-lebel-text {
    font-weight: 600;
    font-size: 16px;
    color: #616161;
}

.html-title {
    margin-top: 20px;
}

.html-title-text {}

.html-title-text-h3 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.html-title-text-p {
    display: flex;
    gap: 44px;
    margin-top: 10px;
}

.html-title-text-date-p {
    font-weight: 400;
    font-size: 16px;
    color: #616161;
}

.html-title-text-date-p span {
    font-weight: 700;
}

.products-html {
    margin-top: 40px;
}

.products-html-h1 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-top: 20px;
}

.products-html-p {
    font-weight: 400;
    font-size: 16px;
}

.products-img {
    margin-top: 20px;
}

.products-html-button {
    margin-top: 20px;
}

.products-html-button-title {
    font-weight: 400;
    font-size: 14px;
}

.products-html-button-title span {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

/* Footer  */

.footer {
    background: #02a28f;
    margin-top: 60px;
}

.footer-wrap {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 3px;
}